<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Eat Da Burger</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<script src="/assets/js/burger.js"></script>
</head>

<body>
	<div>
		<div class="container">
			<div class="row">
				<div class="col">
					<img style="height:25%; width: 25%" src="https://images.unsplash.com/photo-1521305916504-4a1121188589?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ec44d9e3ea91fa2552a4eec4e7897d2e&auto=format&fit=crop&w=800&q=60">
				</div>
			</div>
			<div class="row">
				<div class="col">
					{{{ body }}}
				</div>
			</div>
		</div>
	</div>

</body>

</html>